<section class="new-wrapper">
  <div class="form">
      <p class="label"> <%= f.label :title %> </p>
      <p class="input"> <%= f.text_field :title %> </p>
      <p class="label"> <%= f.label :description %> </p>
      <p class="input"> <%= f.text_area :description %> </p>
      <p class="label"> <%= f.label :start %> </p>
      <p class="input"> <%= f.text_field :start %> </p>
      <p class="label"> <%= f.label :due %> </p>
      <p class="input"> <%= f.text_field :due %> </p>
  </div>
  <div class="centered">
    <p> <%= button_to submit_text, tasks_path, class: "btn btn-complete", method: :post %> </p>
  </div>
</div>