<div class="form">
    <p class="label"> <%= f.label :title %> </p>
    <p class="input"> <%= f.text_field :title %> </p>
    <p class="label"> <%= f.label :description %> </p>
    <p class="input"> <%= f.text_area :description %> </p>
    <div class="horizontal-align"> 
      <div>
        <p class="label"> <%= f.label :start %> </p>
        <p class="input"> <%= f.text_field :start %> </p>
      </div>
      <div>
        <p class="label"> <%= f.label :due %> </p>
        <p class="input"> <%= f.text_field :due %> </p>
      </div>
    </div>
</div>
<div id="close" class="centered">
  <%= f.submit submit_text, class: "btn btn-complete" %>
</div>