<div class="row">
  <div class="col-md-3">
    <%= f.label :title %>
  </div>
  <div class="col-md-4">
    <%= f.text_field :title %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= f.label :description %>
  </div>
  <div class="col-md-6">
    <%= f.text_area :description %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= f.label :start %>
  </div>
  <div class="col-md-6">
    <%= f.datetime_select :start %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= f.label :due %>
  </div>
  <div class="col-md-6">
    <%= f.datetime_select :due %>
  </div>
</div>
<%= f.submit submit_text %>
