<div class="form">
    <p class="label"> <%= f.label :title %> </p>
    <p class="input"> <%= f.text_field :title %> </p>
    <p class="label"> <%= f.label :description %> </p>
    <p class="input"> <%= f.text_area :description %> </p>
    <div class="horizontal-align"> 
      <div>
        <p class="label"> <%= f.label :start %> </p>
        <div class="datetime-picker" id="datetime-picker-start" data-td-target-input="nearest" data-td-target-toggle='nearest'>
          <p class="input"> 
            <%= f.text_field :start, value: f.object.start ? f.object.start.strftime('%B %d, %Y %I:%M %p') : nil, class: "f-control datetimepicker-input", data: {"td-target": "#datetime-picker-start", "td-toggle": "datetimepicker"} %> 
          </p>
        </div>
      </div>
      <div>
        <p class="label"> <%= f.label :due %> </p>
        <div class="datetime-picker" id="datetime-picker-due" data-target-input="nearest">
          <p class="input"> 
            <%= f.text_field(:due, value: f.object.due ? f.object.due.strftime('%B %d, %Y %I:%M %p') : nil, class: "f-control datetimepicker-input", data: {"td-target": "#datetime-picker-due", "td-toggle": "datetimepicker"}) %>
          </p>
        </div>
      </div>
    </div>
</div>
<div id="close" class="centered">
  <%= f.submit submit_text, class: "btn btn-complete" %>
</div>
