 <div class="row">
    <div class="col-md-3">
      <h1>List View</h1>
    </div>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr class="list_header">
        <th>Title</th>
        <th>Description</th>
        <th>Due</th>
        <th>Start</th>
        <th>Complete?</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr class="task">
          <td class="tasktitle">
            <%= link_to task.title, task_path(task) %>
          </td>
          <td class="taskdesc">
            <%= task.description %>
          </td>
          <td class="taskdue">
            <%= task.due %>
          </td>
          <td class="taskstart">
            <%= task.start %>
          </td>
          <td class="taskcomplete">
            <% if !t.complete %>
              <%= button_to "Mark as complete" , tasks_complete_task_path, method: :post, params: { id: t.id } %>
            <% else %>
              <%= button_to "Mark as incomplete" , tasks_complete_task_path, method: :post, params: { id: t.id } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>