<% unless @overdue.empty? %>
  <div class="overdue section">
    <h2>Overdue<h2>
      <ul>
      <% @overdue.each do |t| %>
        <li class="task">
          <div class="task-wrapper">
            <% if t.complete%>
            <input type="checkbox" data-task-id="<%=t.id%>" checked>
            <% else %>
            <input type="checkbox" data-task-id="<%=t.id%>">
            <% end %>
            <div class="title-date-wrapper">
              <% if t.complete %>
                <p class="title completed"><%= link_to t.title, task_path(t) %></p>
              <% else %>
                <p class="title"><%= link_to t.title, task_path(t) %></p>
              <% end %>
              <p class="date"><%= t.due.strftime(format='%-m/%-d/%C') %></p>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
  </div>
<% end %>

<div class="today section">
  <h2>Today<h2>
  <h3>due<h3>
  <% unless @today_due.empty? %>
    <ul>
    <% @today_due.each do |t| %>
      <li class="task">
        <div class="task-wrapper">
        <% if t.complete%>
        <input type="checkbox" data-task-id="<%=t.id%>" checked>
        <% else %>
        <input type="checkbox" data-task-id="<%=t.id%>">
        <% end %>
          <div class="title-date-wrapper">
            <p class="title"><%= link_to t.title, task_path(t) %></p>
          </div>
        </div>
      </li>
    <% end %>
    </ul>
  <% else %>
    <p>No tasks due today!</p>
  <% end %>
  <h3>work<h3>
  <% unless @today_work.empty? %>
    <ul>
      <% @today_work.each do |t| %>
      <li class="task">
        <div class="task-wrapper">
        <% if t.complete%>
        <input type="checkbox" data-task-id="<%=t.id%>" checked>
        <% else %>
        <input type="checkbox" data-task-id="<%=t.id%>">
        <% end %>
          <div class="title-date-wrapper">
            <p class="title"><%= link_to t.title, task_path(t) %></p>
            <% if t.start.nil?%>
              <p class="date"><%= t.due.strftime(format='%-m/%-d/%y') %></p>
            <% else %>
              <p class="date"><%= t.start.strftime(format='%-m/%-d/%y') %> - <%= t.due.strftime(format='%-m/%-d/%y') %></p>
            <% end %>
          </div>
        </div>
      </li> 
      <% end %>
    </ul>
  <% else %>
  <p>No tasks to work on today!</p>
  <% end %>
</div>

<div class="upcoming section">
  <h2>Upcoming<h2>
  <% unless @upcoming.empty? %>
      <ul>
      <% @upcoming.each do |t| %>
        <li class="task">
          <div class="task-wrapper">
            <div class="check-box-wrapper"> 
              <% if t.complete%>
                <input type="checkbox" data-task-id="<%=t.id%>" checked>
              <% else %>
                <input type="checkbox" data-task-id="<%=t.id%>">
              <% end %>
              <span class="checkmark"></span>
            </div>
            <div class="title-date-wrapper">
              <p class="title"><%= link_to t.title, task_path(t) %></p>
              <% if t.start.nil?%>
                <p class="date"><%= t.due.strftime(format='%-m/%-d/%C') %></p>
              <% else %>
                <p class="date"><%= t.start.strftime(format='%-m/%-d/%C') %> - <%= t.due.strftime(format='%-m/%-d/%C') %></p>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
  <% else %>
    <p>No upcoming tasks!</p>
  <% end %>
 </div>
