<div class="task-wrapper">
    <div class="check-box-wrapper"> 
        <% if local_assigns[:task].complete%>
            <input type="checkbox" data-task-id="<%=local_assigns[:task].id%>" aria-labelledby="<%=local_assigns[:task].title%>" checked>
        <% else %>
            <input type="checkbox" data-task-id="<%=local_assigns[:task].id%>" aria-labelledby="<%=local_assigns[:task].title%>">
        <% end %>
        <% if local_assigns[:type] == :due %>
            <span class="checkmark"></span>
        <% else %>
            <span class="checkmark round"></span>
        <% end %>
    </div>
    <div class="title-date-wrapper">
        <% if local_assigns[:task].complete %>
            <p class="title"><%= link_to local_assigns[:task].title, task_path(local_assigns[:task]), class:"completed", "data-task-id" => local_assigns[:task].id %></p>
            <% else %>
            <p class="title"><%= link_to local_assigns[:task].title, task_path(local_assigns[:task]), "data-task-id" => local_assigns[:task].id  %></p>
            <% end %>
        <p class="date"><%= local_assigns[:task].due.strftime(format='%-m/%-d/%y') %></p>
    </div>
</div>