<div id="modalDialog" class="mid-section">
    <%= render 'new_popup' %>
</div>
<%# <div class="overlay"></div> %>
<div class="index-wrapper"> 
    <div id="left-menu" class="menu">
        <%= image_tag("add.png", id: "btn-add", class: "btn", alt: "Add")%>
        <%= link_to(destroy_user_session_path, method: :delete, alt: "Logout") do %>
                <%= image_tag "logout.png"%>
        <% end %>
    </div>
    <div id="list-wrapper"> 
        <%= render 'list', overdue: @overdue, today_due: @today_due, today_work: @today_work, upcoming: @upcoming %>
    </div>
    <div id="slider"></div>
    <div id="calendar-wrapper">
        <%= render 'calendar' %>
    </div>
    <div id="right-menu" class="menu">
    </div>
</div>
