<div class="index-wrapper"> 
    <div id="left-menu" class="menu">
        <%= link_to(new_task_path, id:"btn-add", alt: "Add") do %>
            <%= image_tag "add.png"%>
        <% end %>
        <%= link_to(destroy_user_session_path, method: :delete, alt: "Logout") do %>
                <%= image_tag "logout.png"%>
        <% end %>
    </div>
    <div id="list-wrapper"> 
        <%= render 'list', overdue: @overdue, today_due: @today_due, today_work: @today_work, upcoming: @upcoming %>
    </div>
    <div id="task_edit"> 
    </div>
    <div id="slider"></div>
    <div id="calendar-wrapper">
        <%= render 'calendar' %>
    </div>
</div>
