<div class="index-wrapper"> 
    <div id="left-menu" class="menu">
        <% if user_signed_in? %>
            <%= link_to(new_task_path, id: "btn-add", alt: "Add") do %>
                <%= image_tag "add.png"%>
            <% end %>
        <% end %>
    </div>
    <div id="list-wrapper"> 
        <%= render 'list', overdue: @overdue, today_due: @today_due, today_work: @today_work, upcoming: @upcoming%>
    </div>
    <div id="slider"></div>
    <div id="calendar-wrapper"> 
    <%= button_to "Update partial!", tasks_update_partials_path, method: :get, remote: true  %>
        <%= render 'calendar' %>
    </div>
    <div id="right-menu" class="menu">
<div>
