<h1>Tasks#show</h1>
<h1>Task details</h1>
byebug
<h3><%= @task.title %></h3>
<dl>
  <dt>Description</dt><dd><%= @task.description %></dd>
  <dt>Due</dt><dd><%= @task.due %></dd>
</dl>

<br>
<%= link_to "Delete task", task_path(@task), method: :delete, class: "btn btn-danger" %>
<br>
<%= link_to 'Edit task details', edit_task_path(@task), class: 'btn btn-secondary' %>
<br>
<%= link_to "Back to index", tasks_path, class: "btn btn-primary"%>